<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<context-param>
		<param-name>debug</param-name>
		<param-value>true</param-value>
	</context-param>

	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

	<servlet>
		<servlet-name>Shoppinglist</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>de.kerron.shoppinglist.server</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Shoppinglist</servlet-name>
		<url-pattern>/shoppinglist/*</url-pattern>
	</servlet-mapping>

</web-app>